<section class="tomster-teaching">
	<div class="container row">
		<div class="two-third column">
			<h1>Oh wow!</h1>
			<h4>The page you were about to visit has vanished.</h4>

			<p><strong>Error code: 404</strong></p>

			<p>Have a look on the {{link-to 'Dashboard' 'index'}} one more time and maybe there is what you are looking for.<br />
			Alternatively, check out what this page is {{link-to 'about' 'about'}}.</p>
		</div>

	</div>
</section>